<input
type="text"
[(ngModel)]="chaine"
class="form-control"
(keyup)="search()"
>
<ol>
  <li *ngFor="let places of searchResult"
  class="list-group-item"
  (click)="selectPlace(places)">
    <div class="single_place" style="width: 30rem;">
      <img src="assets/imgplaces/{{places.image}}" alt="" style="width: 35px;height: 30px">
      <div class="hover_Text d-flex align-items-end justify-content-between">
        <div class="hover_text_iner">
          <h3>{{places.name}}</h3>
          <p>{{places.town}}</p>
          <p>{{places.city}}</p>

        </div>

    </div>
    </div>

  </li>
</ol>
